h1 {
    font-style: bold;
}

.date {
    color: green;
}

.year {
    color: red;
}

.subtitle {
    font-weight: 900;
    color: blue;
}

div {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 6px;
    padding-bottom: 20px;
}

p {
    color: blue;
    font-style: italic;
}

img {
    float: left;
}

img:nth-of-type() a {
    font-weight: 900;
}

table.CHESS {
    border-collapse: collapse;
}

table.CHESS td {
    width: 50px;
    height: 50px;
    border: solid gray 1px;
}

tr:nth-child(even) td:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

tr:nth-child(even) td:nth-child(odd) {
    background-color: rgb(0, 0, 0);
}

tr:nth-child(odd) td:nth-child(even) {
    background-color: rgb(22, 16, 16);
}

tr:nth-child(even) td:first-child,
tr:nth-child(odd) td:first-child {
    width: 10px;
    background-color: greenyellow;

}

tr:nth-child(even) td:last-child,
tr:nth-child(odd) td:last-child {
    width: 10px;
    background-color: greenyellow;

}

tr:nth-child(1) td:nth-child(even),
tr:nth-child(1) td:nth-child(odd) {
    height: 10px;
    background-color: greenyellow;
}

tr:last-child td:nth-child(even),
tr:last-child td:nth-child(odd) {
    height: 10px;
    background-color: greenyellow;
}