body div ul li:first-child a {
  color: red;
}

body div ul li span:first-child a {
  color: green;
}

body div ul li em:first-child a {
  color: blue;
}

body div p em:first-child a {
  color: yellow;
}

body div span em:first-child a {
  color: black;
}

body ul li:first-child a {
  color: orange;
}

body ul li:first-child>span>a {
  color: rosybrown;
}

body ul li:first-child>em>a {
  color: violet;
}

body ul li p em a {
  color: aqua;
}

body ul li div p a {
  color: rgb(224, 224, 224);
  text-decoration: underline;
}

body p em a {
  color: grey;
}

body ul li:last-child div ul li:first-child a {
  color: indigo;
}

body ul li:last-child div ul li:nth-child(2) em a {
  color: chocolate;
}

body ul li:last-child div ul li:last-child span a {
  color: brown
}